<!DOCTYPE html>
<HTML>

{% include 'header.html' %}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
  <header class="mdl-color--teal-500 mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{ titre }}</span>
    </div>
    <div class="mdl-color--teal-600 mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="/" class="mdl-layout__tab">Similarité</a>
      <a href="/a" class="mdl-layout__tab is-active">Analogie</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Acceuil</a>
          <a class="mdl-navigation__link" href="/">Notre projet</a>
      </nav>
  </div>

  <main class="mdl-layout__content">
      <title>PPD - Similarité</title>
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
              <div class="mdl-cell mdl-cell--8-col">
                  <!--<H5><i class="material-icons md-10">insert_drive_file</i> Choix du fichier</H5>-->
                  <form name="FilesSelection" action="/a/resultat" method="GET" onsubmit="return validateForm()" ng-controller="FormCtrl" ng-submit="submitForm()">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
                        <input type="text" value="" class="mdl-textfield__input" readonly>
                        <input type="hidden" value="" name="file">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        <label for="file" class="mdl-textfield__label">Fichier de question</label>
                        <ul for="file" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            {% for file in files %}
                            <li class="mdl-menu__item" data-val="{{ file }}">{{ file }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                      <BR/><BR/>
                      <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" value="Valider">
                  </form>
              </div>
            <div class="mdl-layout-spacer"></div>
        </div>

  </section>
  </main>
</HTML>