<link href="{{ url_for('static', filename='material.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='material_extras.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='mdl-select.min.css') }}" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script defer src="{{ url_for('static', filename='material.min.js') }}"></script>
<script defer src="{{ url_for('static', filename='mdl-select.min.js') }}"></script>
<script defer src="{{ url_for('static', filename='functions.js') }}"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>