<!DOCTYPE html>
<HTML>

{% include 'header.html' %}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
  <header class="mdl-color--teal-500 mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{ titre }}</span>
    </div>
    <div class="mdl-color--teal-600 mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="/" class="mdl-layout__tab is-active">Similarité</a>
      <a href="/a" class="mdl-layout__tab">Analogie</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Accueil</a>
          <a class="mdl-navigation__link" href="/">Notre projet</a>
      </nav>
  </div>
  <main class="mdl-layout__content">
      <title>PPD - Résultat</title>
     <div class="mdl-layout__tab-panel is-active" id="overview">

       <div class="demo-grid-2 mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
          <H4>Le fichier {{File}} a été traité avec succès !</H4>
          <H5>Le coefficient de qualité est de {{resultat}}</H5>
          <p>Ce résultat est calculé avec l'aglorithme de Kendall, plus le résultat est proche de 0, plus le fichier est de qualité.</p>
           <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
            </div>
      </div>

     </div>
  </main>

</HTML>
<SCRIPT>

Highcharts.chart('container', {
    chart: {
        type: 'scatter',
        zoomType: 'xy'
    },
    credits :{
    enabled : false
    },
    title: {
        text: 'Qualité du fichier'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        title: {
            enabled: true,
            text: ''
        },
        startOnTick: true,
        endOnTick: true,
        showLastLabel: true
    },
    yAxis: {
        title: {
            text: ''
        }
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 100,
        y: 70,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
        borderWidth: 1
    },
    plotOptions: {
        scatter: {
            marker: {
                radius: 5,
                states: {
                    hover: {
                        enabled: true,
                        lineColor: 'rgb(100,100,100)'
                    }
                }
            },
            states: {
                hover: {
                    marker: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x} , {point.y} '
            }
        }
    },
    series: [{
        name: 'Qualité optimale',
        color: '#00FFCB',
        data: [[0, 0]]

    },
     {
        name: 'Qualité médiocre',
        color: '#FF0000',
        data: [[-1, -1]]

    },
    {
        name: 'Qualité médiocre',
        color: '#FF0000',
        data: [[1, 1]]

    },
    {
        name: 'Fichier {{File}}',
        color: 'rgba(119, 152, 191, .5)',
        data: [[{{resultat}}, {{resultat}}]]
    }]
});


</SCRIPT>
