<!DOCTYPE html>
<HTML>

{% include 'header.html' %}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
  <header class="mdl-color--teal-500 mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{ titre }}</span>
    </div>
    <div class="mdl-color--teal-600 mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="/" class="mdl-layout__tab is-active">Similarité</a>
      <a href="/a" class="mdl-layout__tab">Analogie</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Acceuil</a>
          <a class="mdl-navigation__link" href="/">Notre projet</a>
      </nav>
  </div>
  <main class="mdl-layout__content">
    <title>PPD - Upload</title>
      <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
              <div class="mdl-cell mdl-cell--10-col">
                <form action="" method="POST" enctype=multipart/form-data>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                    <p>Format de fichier : Mot1; Mot2; Coefficient</p>
                <input class="mdl-textfield__input" placeholder="Upload Fichier (.txt ou .csv)" type="text" id="TEXT_ID" readonly />
                <div class="mdl-button mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i>
                <input type="file" name="file" id="file" onchange="document.getElementById('TEXT_ID').value=this.files[0].name;" />
                </div>
                </div>
                <BR/><BR/>
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type=submit value=Upload>
                </form>
              </div>
          </div>
      </div>
  </main>
</HTML>