<!DOCTYPE html>
<HTML>

{% include 'header.html' %}

  <main class="mdl-layout__content">
    <title>PPD - Upload</title>
      <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
              <div class="mdl-cell mdl-cell--10-col">
                <form action="" method=post enctype=multipart/form-data>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                <input class="mdl-textfield__input" placeholder="Upload Fichier (.txt ou .csv)" type="text" id="TEXT_ID" readonly />
                <div class="mdl-button mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i>
                <input type="file" name="file" id="ID" onchange="document.getElementById('TEXT_ID').value=this.files[0].name;" />
                </div>
                </div>
                <BR/><BR/>
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type=submit value=Upload>
                </form>
              </div>
          </div>
      </div>
  </main>
</HTML>