<!DOCTYPE html>
<html>
<link href="{{ url_for('static', filename='material.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static', filename='material_icons.css') }}" rel="stylesheet" type="text/css" />
<script defer src="{{ url_for('static', filename='material.min.js') }}"></script>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-color--teal-500 mdl-layout__header">
    <div class="mdl-layout__header-row">
      <title>{{ titre }}</title>
      <span class="mdl-layout-title">Title</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
        <h1>{{ titre }}</h1>
        <ul>
        {% for mot in mots %}
            <li>{{ mot }}</li>
        {% endfor %}
        </ul>

        Réponse de la fonction : {{ rep }}
    </div>
  </main>
</div>
